<script src="./js/uikit.min.js"></script>
<script src="./js/uikit-icons.min.js"></script>

<div class="uk-card uk-card-default uk-width-1@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="80" height="80"
                    src="https://d2my3dgdogz33p.cloudfront.net/assets/logos/logo-querobolsa-og-d9113c5d813a2b09593991c0094f80a4760ea5c6dd744129bb534f1586c0ed20.png">
            </div>
            <div class="uk-width-expand">
                <h2 class="uk-card-title uk-margin-remove-bottom">Análise e Desenvolvimento de Sistemas - até R$500,00
                </h2>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">SP - São Paulo -
                        Sul</time></p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <h3>Semestre: 2</h3>
        <table class="uk-table uk-table-striped uk-table-responsive">
            <caption></caption>
            <thead>
                <tr>
                    <th>Faculdade</th>
                    <th>IDD</th>
                    <th>Simulado Enade</th>
                    <th>Simulado Enade (Efetivo)</th>
                    <th>Infraestrutura</th>
                    <th>ODP</th>
                    <th>Ampliacao</th>
                    <th>CPC (Efetivo)</th>
                    <th>CPC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>UNASP</th>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                    <td>4</td>
                    <td>2</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th>IMPACTA</th>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                    <td>4</td>
                    <td>2</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-card-footer">
        <a href="#" class="uk-button uk-button-text"></a>
    </div>
</div>


